#nav{
    display: flex;
    flex-direction: row;
}

*:not(.note-card) {
    user-select: none;
}

#user-notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    gap: 10px;
}

.note-card{
    padding: 15px;
}

/* #color-picker-button{
    
} */